In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("Train_Data.csv")

In [3]:
data.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_21,0.624000,Male,No relevent experience,Full time course,Graduate,STEM,3,missing,Pvt Ltd,never,31.372145,1
1,city_21,0.616795,Male,No relevent experience,Full time course,Graduate,STEM,<1,missing,missing,1,63.988905,1
2,city_73,0.754000,Male,No relevent experience,Full time course,Graduate,STEM,<1,missing,missing,never,19.000000,1
3,city_57,0.866000,Male,No relevent experience,no_enrollment,Phd,STEM,9,100-500,Pvt Ltd,>4,53.000000,0
4,city_21,0.624000,Male,Has relevent experience,no_enrollment,Masters,STEM,5,50-99,Pvt Ltd,>4,108.000000,1

In [4]:
data.isna().sum()

city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17257 entries, 0 to 17256
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    17257 non-null  object
 1   city_development_index  17257 non-null  float64
 2   gender                  17257 non-null  object
 3   relevent_experience     17257 non-null  object
 4   enrolled_university     17257 non-null  object
 5   education_level         17257 non-null  object
 6   major_discipline        17257 non-null  object
 7   experience              17257 non-null  object
 8   company_size            17257 non-null  object
 9   company_type            17257 non-null  object
 10  last_new_job            17257 non-null  object
 11  training_hours          17257 non-null  float64
 12  target                  17257 non-null  int64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.7+ MB

In [6]:
#categorical to numeric using One Hot Encoding technique
city=pd.get_dummies(data['city'])
gender=pd.get_dummies(data['gender'])
relevent_experience=pd.get_dummies(data['relevent_experience'])
enrolled_university=pd.get_dummies(data['enrolled_university'])
education_level=pd.get_dummies(data['education_level'])
major_discipline=pd.get_dummies(data['major_discipline'])
experience=pd.get_dummies(data['experience'])
company_size=pd.get_dummies(data['company_size'])
company_type=pd.get_dummies(data['company_type'])
last_new_job=pd.get_dummies(data['last_new_job'])

In [7]:
data.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_21,0.624000,Male,No relevent experience,Full time course,Graduate,STEM,3,missing,Pvt Ltd,never,31.372145,1
1,city_21,0.616795,Male,No relevent experience,Full time course,Graduate,STEM,<1,missing,missing,1,63.988905,1
2,city_73,0.754000,Male,No relevent experience,Full time course,Graduate,STEM,<1,missing,missing,never,19.000000,1
3,city_57,0.866000,Male,No relevent experience,no_enrollment,Phd,STEM,9,100-500,Pvt Ltd,>4,53.000000,0
4,city_21,0.624000,Male,Has relevent experience,no_enrollment,Masters,STEM,5,50-99,Pvt Ltd,>4,108.000000,1

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17257 entries, 0 to 17256
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    17257 non-null  object
 1   city_development_index  17257 non-null  float64
 2   gender                  17257 non-null  object
 3   relevent_experience     17257 non-null  object
 4   enrolled_university     17257 non-null  object
 5   education_level         17257 non-null  object
 6   major_discipline        17257 non-null  object
 7   experience              17257 non-null  object
 8   company_size            17257 non-null  object
 9   company_type            17257 non-null  object
 10  last_new_job            17257 non-null  object
 11  training_hours          17257 non-null  float64
 12  target                  17257 non-null  int64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.7+ MB

In [9]:
x=data.drop(['target'],axis=1)
y=data['target']

In [12]:
x=x.drop(['city','gender','relevent_experience','enrolled_university','education_level','major_discipline','experience','company_size','company_type','last_new_job'],axis=1)

In [13]:
x.head()

   city_development_index  training_hours
0                0.624000       31.372145
1                0.616795       63.988905
2                0.754000       19.000000
3                0.866000       53.000000
4                0.624000      108.000000

In [15]:
x=pd.concat([x,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job],axis=1)

In [16]:
x.head()

,city_development_index,training_hours,city_1,city_10,city_100,city_101,city_102,city_103,city_104,city_105,...,Public Sector,Pvt Ltd,missing,1,2,3,4,>4,missing,never
0,0.624000,31.372145,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
1,0.616795,63.988905,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
2,0.754000,19.000000,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
3,0.866000,53.000000,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
4,0.624000,108.000000,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False

In [18]:
x['<1'].value_counts()

<1
False    16535
True       722
Name: count, dtype: int64

In [19]:
x['1000-4999'].value_counts()

1000-4999
False    16386
True       871
Name: count, dtype: int64

In [20]:
x.dtypes

city_development_index    float64
training_hours            float64
city_1                       bool
city_10                      bool
city_100                     bool
                           ...
3                            bool
4                            bool
>4                           bool
missing                      bool
never                        bool
Length: 191, dtype: object

In [21]:
x.isna().sum()

city_development_index    0
training_hours            0
city_1                    0
city_10                   0
city_100                  0
                         ..
3                         0
4                         0
>4                        0
missing                   0
never                     0
Length: 191, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80)

In [34]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [35]:
model.fit(x_train,y_train)

C:\Users\mdtuf\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
y_hat=model.predict(x_test)

In [37]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_hat,y_test)
print(ac)

0.828505214368482

In [38]:
#H.W. Use Label encoder in place of One hot encoding and see if we get enhanced result