In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel("a1_Dataset_10Percent.xlsx")

In [3]:
data.head()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,NaN,NaN,NaN,NaN,NaN,Tin,0.01,5.0,0
1,8415498,15.0,NaN,NaN,M,NaN,NaN,Gold,8000.00,5.0,1
2,12107603,NaN,NaN,NaN,M,Midlands,East,Tin,0.01,NaN,1
3,14400995,8.0,28.0,NaN,F,NaN,NaN,Tin,0.01,NaN,1
4,28724674,14.0,67.0,NaN,NaN,NaN,NaN,Tin,0.01,7.0,0

In [4]:
data['LoyalClass'].unique()

array(['Tin', 'Gold', 'Silver', 'Platinum'], dtype=object)

In [5]:
data.isna().sum()

ID                    0
DemAffl            1085
DemAge             1508
DemClusterGroup     674
DemGender          2512
DemReg              465
DemTVReg            465
LoyalClass            0
LoyalSpend            0
LoyalTime           281
TargetBuy             0
dtype: int64

In [7]:
#filling the missing values with mean and mode 
data['DemAffl']=data['DemAffl'].fillna(data['DemAffl'].mode()[0])
data['DemAge']=data['DemAge'].fillna(data['DemAge'].mode()[0])
data['DemClusterGroup']=data['DemClusterGroup'].fillna(data['DemClusterGroup'].mode()[0])
data['DemGender']=data['DemGender'].fillna(data['DemGender'].mode()[0])
data['DemReg']=data['DemReg'].fillna(data['DemReg'].mode()[0])
data['DemTVReg']=data['DemTVReg'].fillna(data['DemTVReg'].mode()[0])
data['LoyalTime']=data['LoyalTime'].fillna(data['LoyalTime'].mean())

In [8]:
data.head()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,51.0,C,F,South East,London,Tin,0.01,5.00000,0
1,8415498,15.0,51.0,C,M,South East,London,Gold,8000.00,5.00000,1
2,12107603,8.0,51.0,C,M,Midlands,East,Tin,0.01,6.56467,1
3,14400995,8.0,28.0,C,F,South East,London,Tin,0.01,6.56467,1
4,28724674,14.0,67.0,C,F,South East,London,Tin,0.01,7.00000,0

In [9]:
data.isna().sum()

ID                 0
DemAffl            0
DemAge             0
DemClusterGroup    0
DemGender          0
DemReg             0
DemTVReg           0
LoyalClass         0
LoyalSpend         0
LoyalTime          0
TargetBuy          0
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [11]:
data['DemClusterGroup']=label_encoder.fit_transform(data['DemClusterGroup'])

In [12]:
data['DemGender']=label_encoder.fit_transform(data['DemGender'])
data['DemReg']=label_encoder.fit_transform(data['DemReg'])
data['DemTVReg']=label_encoder.fit_transform(data['DemTVReg'])
data['LoyalClass']=label_encoder.fit_transform(data['LoyalClass'])

In [13]:
data.head()

,ID,DemAffl,DemAge,DemClusterGroup,DemGender,DemReg,DemTVReg,LoyalClass,LoyalSpend,LoyalTime,TargetBuy
0,17147654,5.0,51.0,2,0,3,3,3,0.01,5.00000,0
1,8415498,15.0,51.0,2,1,3,3,0,8000.00,5.00000,1
2,12107603,8.0,51.0,2,1,0,2,3,0.01,6.56467,1
3,14400995,8.0,28.0,2,0,3,3,3,0.01,6.56467,1
4,28724674,14.0,67.0,2,0,3,3,3,0.01,7.00000,0

In [15]:
df=data.drop(['ID'],axis=1)

In [16]:
x=df.drop(['TargetBuy'],axis=1) #independent variables 
y=df['TargetBuy']

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75)

In [28]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [29]:
model.fit(x_train,y_train)

C:\Users\mdtuf\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [30]:
y_hat=model.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_hat,y_test)
print(ac)

0.7985961123110151